doctype html
html
  include ../tiles/header.jade
  body
    .row
      .large-3.columns
        h1
          img(src='./admin-index_files/400x100&text=Logo')
      |   
      .large-9.columns
        ul.inline-list.right
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 1
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 2
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 3
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 4
    .row
      .large-9.push-3.columns
        | &#x8FD9;&#x91CC;&#x9762;&#x65F6;&#x5185;&#x5BB9;
      |   
      .large-3.pull-9.columns
        ul.side-nav
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 1
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 2
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 3
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 4
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 5
          |       
          li
            a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 6
        |     
        p
          img(src='./admin-index_files/320x240&text=Ad')
    footer.row
      .large-12.columns
        hr
        |     
        .row
          .large-6.columns
            p &copy; Copyright no one at all. Go to town.
          |       
          .large-6.columns
            ul.inline-list.right
              li
                a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 1
              |           
              li
                a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 2
              |           
              li
                a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 3
              |           
              li
                a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 4
