aside.large-3.columns
  .panel
    h5  说说
    p
      | #{speak}
    a(href='#{blog_host}speak') Read More &rarr;
  h5 Links
  ul.side-nav
    li
      a(href='#') Faris Lee - 一个关注科技和设计的网站
    li
      a(href='#') ispeller
    li
      a(href='#') reverland
    li
      a(href='#') Sloger
    li
      a(href='#') 太阳岛的海子
