aside.large-3.columns
  .panel
    h5  说说
    p
      | 经过考虑，目录这个东西很大程度上不能低耦合的进行文章分类，所以往往起分类名称和对文章进行分类都是件麻烦的事情，索性不增加分类功能了，标签灵活，进行归档足矣
    a(href='#') Read More &rarr;
  h5 Links
  ul.side-nav
    li
      a(href='#') Faris Lee - 一个关注科技和设计的网站
    li
      a(href='#') ispeller
    li
      a(href='#') reverland
    li
      a(href='#') Sloger
    li
      a(href='#') 太阳岛的海子
