aside.large-3.columns
  .panel
    h5  说说
    p
      | #{speak}
    a(href='#{blog_host}speak') Read More &rarr;
  h5 Links
  ul.side-nav
    li
      a(href='http://www.farisl.com/', target='_blank') Faris Lee - 一个关注科技和设计的网站
    li
      a(href='http://ispeller.sinaapp.com/', target='_blank') ispeller
    li
      a(href='http://reverland.org/', target='_blank') reverland的知行阁
    li
      a(href='http://wittyfox.me/', target='_blank') Sloger
    li
      a(href='http://houye.xyz/', target='_blank') 太阳岛的海子
    li
      a(href='https://danknest.org/', target='_blank') 就要掉线了
    li
      a(href='http://ccco.me/', target='_blank') 玥璃 - 梦开始的地方，遇见最美的你
    li
      a(href='http://zhangsubo.cn/', target='_blank') 张小璋的窝
    li
      a(href='http://www.druidfy.com/', target='_blank') 艾泽拉斯
    li
      a(href='http://geekboy.org/', target='_blank') 静水流深
    li
      a(href='https://blog-netarmy.rhcloud.com/', target='_blank') 中土国民
