aside.large-3.columns
  .panel
    h5  说说
    p
      | #{speak}
    a(href='#{blog_host}speak') Read More &rarr;
  h5 Links
  ul.side-nav
    li
      a(href='#') Faris Lee - 一个关注科技和设计的网站
    li
      a(href='#') ispeller
    li
      a(href='#') reverland的知行阁
    li
      a(href='#') Sloger
    li
      a(href='#') 太阳岛的海子
    li
      a(href='#') 就要掉线了
    li
      a(href='#') 玥璃 - 梦开始的地方，遇见最美的你
    li
      a(href='#') 张小璋的窝
    li
      a(href='#') 艾泽拉斯
    li
      a(href='#') 静水流深
    li
      a(href='#') 中土国民的
