meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title Foundation Template | Blog
meta(name='description', content='Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more.')
meta(name='author', content='ZURB, inc. ZURB network also includes zurb.com')
meta(name='copyright', content='ZURB, inc. Copyright (c) 2015')
//link(rel='stylesheet', href='/stylesheets/foundation.css')
link(rel='stylesheet', href='http://cdn.staticfile.org/foundation/5.4.7/css/foundation.min.css')
link(rel='stylesheet', href='https://highlightjs.org/static/demo/styles/monokai_sublime.css')
script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js')
script.
  hljs.initHighlightingOnLoad();

