.row
  .large-12.columns
    .nav-bar.right
      ul.button-group
        li
          a.button(href='#') Home
        li
          a.button(href='#') Archive
        li
          a.button(href='#') Links
        li
          a.button(href='#') About
    h1
      |#{blog_title}
      small #{blog_description}
    hr
