.large-3.pull-9.columns
  ul.side-nav
    li
      a(href='#{blog_host}admin/post') 发布文章
    |       
    li
      a(href='#{blog_host}admin/speak') 发表说说
    |       
    li
      a(href='#{blog_host}admin/archive') 文章归档
    |       
    li
      a(href='#') 待开发
    |       
    li
      a(href='#') 待开发
    |       
    li
      a(href='#') 待开发
  |     
  p
    img(src='#{blog_host}images/320x240&text=Ad')
