.large-9.push-3.columns
  form(method='post')
    br
    |   
    | 标题
    br
    |   
    input(type='text', name='title')
    br
    | 正文
    br
    |   
    textarea(name='content', rows='20', cols='100')
    br
    |   
    | 标签 (多个标签用','分隔)
    br
    |   
    input(type='text', name='tags')
    br
    |   
    br
    |   
    .row
      .small-3.columns.right
        input.button.postfix(type='submit', value='发表')
    br
