.large-9.push-3.columns
  form(method='post')
    br
    | 正文
    br
    |   
    textarea(name='content', rows='20', cols='100')
    br
    |   
    .row
      .small-3.columns.right
        input.button.postfix(type='submit', value='发表')
    br
