.row
  .large-3.columns
    h1
      img(src='#{blog_host}images/400x100&text=Logo')
  |   
  .large-9.columns
    ul.inline-list.right
      li
        a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 1
      |       
      li
        a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 2
      |       
      li
        a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 3
      |       
      li
        a(href='http://foundation.zurb.com/templates/sidebar.html#') Section 4
